* {
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: black;
  min-width: 420px;
  margin: 25px 25px;
}

/* h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
} */


.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

.title {
  color: white;
  width: 100%;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.subtitle {
  color: white;
  width: 100%;
  font-size: 4vw;
  text-align: center;
  margin-top: 0px;
}

.box {
	/* position: relative; */
  display: flex;
  justify-content: center;
  flex-direction: column;
	width: 80%;
	height: 350px;
  margin: 10px;
	align-items: center;
	background: #fff;
	/* box-shadow: 0 30px 60px rgba(0, 0, 0, .2); */
}

.time {
  font-size: 25vh;
}

@media only screen and (max-width: 1130px){
  body {
    background: red;
  }

  .box {
    width: 650px;
  }

  .time {
    font-size: 20vh;
  }

}

@media only screen and (max-width: 760px){
  body {
    background: blue;
  }

  .box {
    width: 450px;
  }

  .time {
    font-size: 15vh;
  }
}

@media only screen and (max-width: 550px){
  body {
    background: green;
  }

  .box {
    width: 350px;
  }

  .time {
    font-size: 10vh;
  }
}
